<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- For Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" tools:ignore="ScopedStorage" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/prri_da"
        android:label="@string/app_name"
        android:roundIcon="@drawable/prri_da"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".inspection.InspectionAccounting"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ImageCaptureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".delivery.DeliverySummary"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.InspectionActualDelivery"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.InspectionNewSamplingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delivery.DeliveryBatchMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delivery.DeliveryMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inspection.InspectionMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userLogin.VerifyLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userLogin.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>